
<router-outlet></router-outlet>
<div class="navigation-menu"> <ul class="navigation-list">
    <li  class="navigation-item">
      <a routerLink="/Book" routerLinkActive="active">Books <span class="button-border"></span></a>
    </li>
    <li class="navigation-item">
      <a routerLink="/Student" routerLinkActive="active" >Students <span class="button-border"></span></a>
    </li>
    <li class="navigation-item">
      <a routerLink="/BookLoan" routerLinkActive="active" >BookLoan <span class="button-border"></span></a>
    </li>
   
  </ul>
</div>

